dev/
smarty/templates_c/
smarty/cache/
jmk/
www/result.txt
www/email.txt
www/jmk/
www/setup.php
www/research.txt
www/volba-prezidenta-cr-2013/research.txt
www/volba-prezidenta-cr-2013/research_post.txt

