dev/
smarty/templates_c/
smarty/cache/
cache/
jmk/
www/result.txt
www/email.txt
www/jmk/
www/setup.php
*result.txt
*__init__.py
*__pychache__/*
*cache/*
*local_settings.*
*.~lock*
*click.txt
cache/
research.txt
cache/*
research_post.txt
*/result.csv
*/click.csv
*/position.csv
*/fingerprint.csv
