dev/
smarty/templates_c/
smarty/cache/
cache/
jmk/
www/result.txt
www/email.txt
www/jmk/
www/setup.php
*result.txt
*__init__.py
*__pychache__/*
*cache/*
*local_settings.*
*.~lock*
*click.txt
cache/
research.txt
cache/*
research_post.txt
*result.csv
results.csv
*click.csv
clicks.csv
*position.csv
*fingerprint.csv
*log.csv
questionnaire.csv
bot/
*pixels.csv
*actions.csv
/www/image/prezidentske-volby-2018/fb/
vue/dist/
www/hackathon-2018/.git
www/session/log*