.question {
    background-color: #BCDEFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.question-description {
	font-size: 0.85em;
	color: #777777;
	text-shadow: none;
}

.question-content {
	min-height: 13em;
}

.question-question {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 1em;
}

.question-name {
  font-size: 1em;
  color: #777777;
  text-shadow: none;
}

.question-name-0 {
  color: #333333;
}

.question-question-0 {
  font-size: 1em;
  font-weight: normal;
}

.question-background {
background-image:url('../images/SVK3.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center top; 
}

.social-bar {
    height: 20px;
    margin: 0 auto;
    width: 475px;
    padding-top: 1em;
}

.result-number {
  font-size: 1.5em;
  float: right;
  padding-right: 0.5em;
}
.right {
	float:right;
}
.result-header {
  font-size: 1.5em;
}
.result-very-positive {
  color: #008000;
}
.result-positive {
  color: #40ff40;
}
.result-neutral {
  color: #808080;
}
.result-negative {
  color: #ff8080;
}
.result-very-negative {
  color: #800000;
}

/* compare */
.compare-table {
  text-align: center;
}
.compare-table .compare-table-td-1{
  text-align: left;
}

.compare-table-td-1 {
  width: 180px;
}
.compare-table-td-2 {
  width: 80px;
}
.compare-table-td-n {
  width: 70px;
}

.compare-table-wrapper {
    background-color: #BCDEFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;
}

/*front*/
.front-empty {
  height: 2em;
}

/*kv-footer*/
.kv-footer {
  padding: 16px 5px 0;
}
